version: '3.8'

services:
  web:
    build: .
    container_name: ecommerce_app
    # Port 8000 should not be exposed publicly in production
    # Remove the ports mapping or use "127.0.0.1:8000:8000" to only allow localhost access
    # For production, remove this line entirely - nginx will handle all external traffic
    # ports:
    #   - "8000:8000"
    expose:
      - "8000"  # Expose internally to nginx only
    volumes:
      - .:/app
      - ./staticfiles:/app/staticfiles
      - media_volume:/app/media
    environment:
      - DEBUG=${DEBUG}
      - DJANGO_ENV=${DJANGO_ENV}
    command: >
      sh -c "python manage.py collectstatic --noinput &&
             python manage.py migrate &&
             gunicorn --bind 0.0.0.0:8000 ecommerce.wsgi:application"

  nginx:
    image: nginx:latest
    container_name: nginx_server
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./staticfiles:/app/staticfiles
      - media_volume:/app/media
      - /etc/letsencrypt:/etc/letsencrypt
    depends_on:
      - web

volumes:
  media_volume:
