{%extends 'base/main.html'%}
{% load static %}
{% block title%}SignUp PAge{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/registration.css' %}">

    <div class="body">
      <div class="wrapper-signup"><h2>Registration</h2>
      <div class="content">
        <form method="post" action="{% url 'signup' %}">
          {% csrf_token %}
  
<div class="user-details">
            <div class="input-group">
              <input type="text" name="fullname" required>
              <label for="">Full Name</label>

            </div>
            <div class="input-group">
              <input type="text" name="username" required>
              <label for="">Username</label>

            </div>
            <div class="input-group">
              <input type="text" name="email" required>
              <label for="">Email</label>

            </div>
            <div class="input-group">
              <input type="text" name="PhoneNumber"  required>
              <label for="">PhoneNumber</label>

            </div>
            <div class="input-group">
              <input type="date" name="date_of_birth" required>
              <label for="date_of_birth">Date of Birth:</label>
            </div>
            <div class="input-group">
              <input type="password" name="password1" required>
              <label for="password1">Password</label>
            </div>
            <div class="input-group">
              <input type="password" name="password2" required>
              <label for="password2">Confirm Password</label>
            </div>
          
          </div>
          <div class="input-groupp">
            <label for="user_type"><h5 class="heading-h5">User Type:</h5></label>
            <div id="user_type_group" class="radio-group" required>
              <input type="radio" id="buyer" name="user_type" value="buyer" class="radio-input">
              <label for="buyer" class="label-size">Buyer</label >
              
              <input type="radio" id="seller" name="user_type" value="seller" class="radio-input">
              <label for="seller" class="label-size">Seller</label>

              <input type="radio" id="admin" name="user_type" value="admin" class="radio-input">
              <label for="admin" class="label-size">Admin</label>
            </div>
          </div>

          <div class="input-groupp">
            <label for="user_type"><h5 class="heading-h5">Gender:</h5></label>
            <div id="gender_group" class="radio-group" required>
              <input type="radio" id="buyer" name="user_type" value="buyer" class="radio-input">
              <label for="male" class="label-size">Male</label >
              
              <input type="radio" id="seller" name="user_type" value="seller" class="radio-input">
              <label for="female" class="label-size">Female</label>

              <input type="radio" id="admin" name="user_type" value="admin" class="radio-input">
              <label for="none" class="label-size">None</label>
            </div>
          </div> 


          
   {% comment %} <div class="gender-details">
    <span class="gender-title"><h5>Gender</h5></span>
  <div class="category">
    <label for="dot-1" class="label">
        <input type="radio" name="gender" id="dot-1" value="male">
     <span class="dot one"></span> 
      <span class="gender">Male</span>
    </label>
    <label for="dot-2" class="label">
        <input type="radio" name="gender" id="dot-2" value="female">
    <span class="dot two"></span>
      <span class="gender">Female</span>
    </label>
    <label for="dot-3" class="label">
        <input type="radio" name="gender" id="dot-3" value="none">
      <span class="dot three"></span> 
      <span class="gender">None</span>
    </label>
  </div>  {% endcomment %} -->
  
</div>

          <button type="submit">Register</button>

        </form>
      </div>
    </div>
    </div>

{% endblock%}