{% extends 'frontend/main.html' %}
{% load static %}

{% block title %}About Us Page{% endblock %}

{% block content %}

    <!-- Page Header Start -->
    <div class="container-fluid bg-dark bg-img p-5 mb-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="display-4 text-uppercase text-white">About Us</h1>
                <a href="{% url 'home' %}">Home</a>
                <i class="far fa-square text-primary px-2"></i>
                <a href="{% url 'aboutus' %}">About us</a>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    {% include 'frontend/about_partial.html' %}

{% endblock %}
