{% extends 'frontend/main.html' %} 
{% load static %} 
{% block title %}Contact Us{% endblock %} 
{% block content %}

    <!-- Page Header Start -->
    <div class="container-fluid bg-dark bg-img p-5 mb-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="display-4 text-uppercase text-white">Contact Us</h1>
                <a href="{% url 'home' %}">Home</a>
                <i class="far fa-square text-primary px-2"></i>
                <a href="{% url 'contactus' %}">contact us</a>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- Contact Start -->
    <div class="container-fluid contact position-relative px-5" style="margin-top: 90px;">
        <div class="container">
            <div class="row g-5 mb-5">
                <div class="col-lg-4 col-md-6">
                    <div class="bg-primary border-inner text-center text-white p-5">
                        <i class="bi bi-geo-alt fs-1 text-white"></i>
                        <h6 class="text-uppercase my-2">Our Work Place</h6>
                        <span> Super Town, Lahore, Pakistan</span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="bg-primary border-inner text-center text-white p-5">
                        <i class="bi bi-envelope-open fs-1 text-white"></i>
                        <h6 class="text-uppercase my-2">Email Us</h6>
                        <span>cakesbyrimi@gmail.com</span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="bg-primary border-inner text-center text-white p-5">
                        <i class="bi bi-phone-vibrate fs-1 text-white"></i>
                        <h6 class="text-uppercase my-2">Call Us</h6>
                        <span>+92 309 481 7724</span>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <p class="mb-2 text-white">
                        Looking for the perfect gift or treat? 
                        We create custom cakes, cupcakes, cookies, brownies, bouquets, and even elegant acrylic boxes.  
                        For pricing, designs, or special requests — contact us on WhatsApp and let’s bring your ideas to life! 
                        </p>
                    <a href="{% url 'contact_whatsapp' %}?message=Hi! I have some queries about your cakes. Can you please help me?" 
                        class="btn btn-success border-inner w-100 py-3 mt-2" 
                        style="background-color: #c38edb ; border-color: #c38edb ;">
                        <i class="fab fa-whatsapp me-2"></i>Contact Us on WhatsApp
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->



{% endblock%}