{% extends 'frontend/main.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/frontend/css/menu.css' %}">
<script src="{% static 'js/menu.js' %}"></script>

<!-- Products Start -->
<div class="container-fluid about py-5">
    <div class="container">
        <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
            <h2 class="text-primary font-secondary">Menu & Pricing</h2>
            <h1 class="display-4 text-uppercase">Explore Our Products</h1>
        </div>
        <div class="tab-class text-center">
            <ul class="nav nav-pills d-inline-flex justify-content-center bg-dark text-uppercase border-inner p-4 mb-5">
                <li class="nav-item">
                    <a class="nav-link text-white active" data-bs-toggle="pill" href="#tab-cakes" data-category="Cakes">Cakes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" data-bs-toggle="pill" href="#tab-cupcakes" data-category="Cupcakes">Cupcakes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" data-bs-toggle="pill" href="#tab-bouquets" data-category="Bouquets">Bouquets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" data-bs-toggle="pill" href="#tab-customs" data-category="Customs">Custom</a>
                </li>
            </ul>

            <div class="tab-content">
                <!-- Tab 1 (Cakes) -->
                <div id="tab-cakes" class="tab-pane fade show p-0 active">
                    <div class="row g-3" id="cakes"></div>
                </div>

                <!-- Tab 2 (Cupcakes) -->
                <div id="tab-cupcakes" class="tab-pane fade show p-0">
                    <div class="row g-3" id="cupcakes"></div>
                </div>
                
                <!-- Tab 3 (Bouquets) -->
                <div id="tab-bouquets" class="tab-pane fade show p-0">
                    <div class="row g-3" id="bouquets"></div>
                </div>
                
                <!-- Tab 4 (Custom) -->
                <div id="tab-customs" class="tab-pane fade show p-0">
                    <div class="row g-3" id="customs"></div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Products End -->

<!-- Offer Start -->
<div class="container-fluid bg-offer my-5 py-5">
    <div class="container py-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-7 text-center">
                <div class="section-title position-relative text-center mx-auto mb-4 pb-3" style="max-width: 600px;">
                    <h2 class="text-primary font-secondary">Special Kombo Pack</h2>
                    <h1 class="display-4 text-uppercase text-white">Super Soft Cakes</h1>
                </div>
                <p class="text-white mb-4">Welcome to the sweet side of life with Cakes by Rimi! As we step into a new moment, anticipate the joy of savoring our meticulously crafted cakes, each bite a testament to passion and perfection. From birthdays to weddings, let Cakes by
                    Rimi be the sweet melody in your celebrations. Keep an eye out for exclusive offers and exciting updates. Thank you for choosing Cakes by Rimi—where every moment becomes a delicious memory!</p>
                <a href="" class="btn btn-primary border-inner py-3 px-5 me-3">Shop Now</a>
                <a href="" class="btn btn-dark border-inner py-3 px-5">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- Offer End -->

{% endblock %}
